*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: $font-primary;
  color: $color-text-primary;
}
html,
body {
  &._overflow {
    overflow: hidden;
  }
}
a {
  color: $color-text-primary;
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1160px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.btn {
  background: $color-grad-main;
  border-radius: 3.3rem;
  color: $color-white;
  border: 0;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $color-secondary;
  }
}
p,h1 {
  margin: 0;
}
h1 {
  @include text ($font-secondary, 700, 6rem, 6.8rem, $color-text-primary);
}