.live-screen {
    position: relative;
    z-index: 1;
    &::before /*big*/ {
        content: "";
        position: absolute;
        width: 288px;
        height: 288px;
        border-radius: 50%;
        top: 2rem;
        left: -20rem;
        background: $color-grad-main;
        z-index: -2;
    }
    &::after /*small*/ {
        content: "";
        position: absolute;
        width: 86px;
        height: 86px;
        border-radius: 50%;
        top: 22.2rem;
        left: 0rem;
        background: $color-grad-secondary;
        z-index: -1;
    }
}
.live-screen__container {
    background: $color-white;
    border: 1px solid $color-border-main;
    border-radius: 21px;
    padding: 3rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 15rem;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    width: 100%;
    &:not(:last-child) {
        border-right: 1px solid $color-border-main;
    }
    gap: 0.2rem;
    &__counter {
        @include text ($font-secondary, 700, 4rem, 5rem, $color-text-primary);
    }

    &__desc {
        @include text ($font-primary, 400, 1.6rem, 2rem, $color-text-secondary);
    }
}