.quastions {
    padding: 14.7rem 0 10rem 0;
    &__title {
        margin-bottom: 6rem;
        text-align: center;
    }
}
.script {
    padding: 4rem;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
    &._active {
        .script__body {
            display: block;
        }
        .script__arrow {
            transform: rotate(180deg);
        }
    }
    &::after {
        position: absolute;
        content: "";
        opacity: 0.2;
        border: 1px solid $color-border-secondary;
        border-radius: 21px;
        width: 100%;
        height: 100%;
        top: 0rem;
        left: 0rem;
    }
	&__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
	}
	&__title {
        @include text ($font-secondary, 700, 2rem, 2.4rem, $color-text-primary);
    }
	&__arrow {
        padding: 1rem 1rem;
        width: 48px;
        height: 48px;
        position: relative;
        text-align: center;
        transition: $transition;
        span{
            color: $color-main;
        }
        &::before {
            position: absolute;
            content: "";
            background: $color-secondary;
            border-radius: 50%;
            opacity: 0.2;
            width: 100%;
            height: 100%;
            top: 0rem;
            left: 0rem;
        }
	}
	&__body {
        display: none;
        margin-top: 2rem;
        @include text ($font-primary, 400, 1.6rem, 2.6rem, $color-text-secondary);
	}
}